@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        line-height: normal;
        color: #343434;
        letter-spacing: 0.02em;
    }
  }
  .anime {
  @apply motion-safe:transition duration-[0.1s] ease-in ;
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

input{
 padding: 14px 12px !important;
 }
  