@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        line-height: normal;
        color: #343434;
        letter-spacing: 0.02em;
    }
  }
  .anime {
  @apply motion-safe:transition duration-[0.15s] ease-in-out ;
  }
  .input-med {
  @apply bg-white w-full p-2 border-[2px]  rounded-[5px]  focus:outline-none ;
  
  }



input{
 padding: 14px 12px !important;
 }


.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
  

/* .layout-enter-active,
.layout-leave-active {
  transition: opacity 0.3s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
} */